h1 {
    margin-top: calc(6vw + 29px);

    font-size: calc(3vw + 17.5px);
    text-align: center;
    color: #199e9e;
}

.text {
    margin: 30px auto;
    width: calc(60vw + 136px);

    font-size: calc(1.7vw + 17px);
    color: #46457e;
    text-align: center;
}

span {
    color: #d63636;
}

h3 {
    font-size: calc(0.7vw + 15.5px);
    text-align: center;
    color: #7a3e0c;
}
